/.idea/
/venv/
__pycache__/
yeecw/__pycache__/
yeecw/yeecw/__pycache__/
yeecw/users/__pycache__/
yeecw/blog/__pycache__/
yeecw/blog/migrations/__pycache__/
yeecw/blog/templatetags/__pycache__/
yeecw/users/migrations/__pycache__/
db.sqlite3
.vscode/
